<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Sistema Financiero</display-name>
	
	
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>



	<security-constraint>
		<display-name>constraint protected</display-name>
		<web-resource-collection>
			<web-resource-name>administrator</web-resource-name>
			<description />
			<url-pattern>/modules/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>Tiene acceso</description>
			<role-name>administrator</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>constraint protected</display-name>
		<web-resource-collection>
			<web-resource-name>ventanilla</web-resource-name>
			<description />
			<url-pattern>/resources/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>PUT</http-method>
			<http-method>POST</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description>Tiene acceso</description>
			<role-name>ventanilla</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-role>
		<description>Acesso a todo el Sistema</description>
		<role-name>administrator</role-name>	
	</security-role>
	<security-role>
		<description>Atencion al usuario</description>
		<role-name>ventanilla</role-name>
	</security-role>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>file</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/error.xhtml</form-error-page>
		</form-login-config>
	</login-config>
	
</web-app>