body {
	font-family: arial, sans-serif;
	font-size: 81.25%;
	margin: 0;
	display: block;
	background-color: #fff;
	color: #222;
}

div {
	display: block;
}

.header {
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.content {
	padding: 0;
	margin: 0;
	min-height:550px; 
}

.header a,.content a,.footer a {
	color: #06c;
	text-decoration: none;
}

ul {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}

td,th {
	font-family: arial, sans-serif;
	font-size: 100%;
	display: table-cell;
	vertical-align: top;
}

table[Attributes Style] {
	border-spacing: 0px;
}

.sf-header {
	height: 44px;
	background: white;
}

.sf-menu {
	height: 40px;
	background-image: linear-gradient(top, #5ea462 0, #518f55 100%);
	background-image: -o-linear-gradient(top, #5ea462 0, #518f55 100%);
	background-image: -moz-linear-gradient(top, #5ea462 0, #518f55 100%);
	background-image: -webkit-linear-gradient(top, #5ea462 0, #518f55 100%);
	background-image: -ms-linear-gradient(#5ea462, #518f55);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ea462),
		to(#518f55));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5ea462),
		color-stop(1, #518f55));
	background-color: #518f55;
	position: relative;
	overflow: hidden;
	
}

.sf-menu-ul-left {
	position: absolute !important;
	right: 0;
}

.sf-menu-ul {
	float: left;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}

.sf-menu-ul-li {
	margin: 0px;
	float: left;
	padding: 0;
}

.sf-menu-ul-li-a {
	color: #fff !important;
	height: 28px;
	padding: 12px 20px 0;
	border-right: 1px solid #769ed4;
	text-shadow: 0 -1px 0 #1d52a3;
	padding: 12px 20px 0;
	border-right: 1px solid #7AB47F;
	font-weight: bold;
	float: left;
	cursor: pointer;
}

.sf-menu-ul-li-a:hover {
	text-decoration: none;
}

.sf-menu-ul-left .sf-menu-ul-li-a {
	border-right: none;
	border-left: 1px solid #7AB47F;
	margin: 0;
}

.sf-menu-ul-li-a:hover {
	background-image: linear-gradient(top, #417845 0, #417845 100%);
	background-image: -o-linear-gradient(top, #417845 0, #417845 100%);
	background-image: -moz-linear-gradient(top, #417845 0, #417845 100%);
	background-image: -webkit-linear-gradient(top, #417845 0, #417845 100%);
	background-image: -ms-linear-gradient(top, #417845 0, #417845 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#417845),
		to(#417845));
	color: #fff;
	-webkit-box-shadow: inset 1px 1px 0 #1d52a3, inset -1px -1px 0 #417845;
	-moz-box-shadow: inset 1px 1px 0 #1d52a3, inset -1px -1px 0 #417845;
	box-shadow: inset 1px 1px 0 #417845, inset -1px -1px 0 #417845;
	cursor: pointer;
	text-shadow: 0 1px 0 #417845;
	

}

.sf-menu-ul-li-a:FOCUS {
	background-image: linear-gradient(top, #0e3e89 0, #5886c2 100%);
	background-image: -o-linear-gradient(top, #0e3e89 0, #5886c2 100%);
	background-image: -moz-linear-gradient(top, #0e3e89 0, #5886c2 100%);
	background-image: -webkit-linear-gradient(top, #0e3e89 0, #5886c2 100%);
	background-image: -ms-linear-gradient(top, #0e3e89 0, #5886c2 100%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0e3e89),
		to(#5886c2));
	color: #fff;
	-webkit-box-shadow: inset 1px 1px 0 #1d52a3, inset -1px -1px 0 #1d52a3;
	-moz-box-shadow: inset 1px 1px 0 #1d52a3, inset -1px -1px 0 #1d52a3;
	box-shadow: inset 1px 1px 0 #1d52a3, inset -1px -1px 0 #1d52a3;
	cursor: pointer;
	text-shadow: 0 1px 0 #1d52a3;
}

.sf-SideBarLayout {
	width: 100%;
}

.sf-layout-sidebar-widget {
	min-width: 210px;
	width: 210px;
	vertical-align: top;
	padding-right: 6px;
}

.sf-wide-layout-sidebar-widget {
	min-width: 240px;
	width: 240px;
}

.sf-wide-layout-sidebar-widget:after {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: fixed;
	bottom: 0;
	left: 212px;
	top: 0;
	width: 4px;
	z-index: 1;
	content: "";
	left: 242px;
}

.sf-layout-main-widget {
	vertical-align: top;
}


h1{
	padding: 0;
	margin: 0;
}

h1 a{
	padding: 0;
	margin: 0;
}